Задача:

Разработать консольное приложение.
- приложение должно подсчитывать количество букв «A» в строке, которую вводит пользователь.
- написать Junit-тесты, которые проверяют корректность работы приложения.

Пояснение к работе.
На момент выполнения заданий я не был знаком с JUnit тестами, поэтому конкретно в этой задаче попробовал передать
несколько случайных строк. В результате тест проходит удачно. Во всех случаях результат оправдывает ожидания,
из чего следует, что подсчёт символов проводится верно.

Жду вашего решения.

С уважением,
Линар Юнусов.